@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=IBM+Plex+Mono:wght@300&family=Victor+Mono:wght@700&display=swap");

html {
  scroll-behavior: smooth;
  scroll-padding: 8rem;
}
body {
  padding: 0;
  margin: 0 15%;
  background-color: #030b0c;
  scroll-behavior: smooth;
  color: #e7f7f8;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-family: "Inter", sans-serif;
}

.header_logo {
  width: 50px;
}
.title {
  width: 35rem;
  padding-top: 10%;
  font-size: 48px;
  letter-spacing: -1px;
  font-weight: 700;
  margin: 0;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.subtitle {
  padding-top: 7%;
  line-height: 150%;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 24px;
}
.color_text {
  background: linear-gradient(120deg, #20416f, #aad4da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content {
  width: 70vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70vw;
  height: 80vh;
  padding-bottom: 5rem;
}

.content_right {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #091415;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content_left {
  width: 100%;
  height: 100%;
}
.projects {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 8rem;
}
.box1,
.box2,
.box3 {
  border-radius: 15px;
  width: 30%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #091415;
}
.part1 {
  flex-direction: column;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  width: 75%;
  height: 35vh;
  background-color: #091415;
  border-radius: 15px;
}
.part2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
  width: 75%;
  height: 80vh;
  background-color: #091415;
  border-radius: 15px;
}

/*--Button--*/

#button1,
#button2 {
  margin-top: 3rem;
}
.part3 {
  width: 100%;
  height: 20vh;
}
.box1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box2 {
  background-color: #131417;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box3 {
  background-color: #181717;
  display: flex;
  align-items: center;
  justify-content: center;
}
#button1 {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #e7f7f8;
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 9px;
  background: #20416f;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}

#button1:hover {
  transform: translateY(-2px);
  box-shadow: 7px 5px 56px -14px #20416f;
}

#button1:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #20416f;
}

/*--Button 2--*/

#button2 {
  margin-left: 2rem;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #e7f7f8;
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 9px;
  background: #091415;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}

#button2:hover {
  transform: translateY(-2px);
  box-shadow: 7px 5px 56px -14px #091415;
}

#button2:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #091415;
}
/*--Button3--*/
#button3 {
  margin-bottom: 1rem;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #e7f7f8;
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 9px;
  background: #20416f;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}

#button3:hover {
  transform: translateY(-2px);
  box-shadow: 7px 5px 56px -14px #20416f;
}

#button3:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #20416f;
}

/*--Scrollbar--*/

::-webkit-scrollbar {
  margin-left: 1em;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(131, 131, 131, 0.1);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(129, 129, 129, 0.5);
}
.project1 {
  color: black;
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
  width: 100px;
  height: 25px;
  background: #fbca1f;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}
.project1:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}
/*Input CEP*/
.input {
  margin-bottom: 2rem;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 0.9vw;
  color: #fff;
  background-color: #030b0c;
  box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;
  border-radius: 0.4vw;
  border: none;
  outline: none;
  padding: 0.4vw;
  transition: 0.4s;
  margin-right: 10px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
p > b {
  font-size: 40px;
}
.txt {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 1rem;
  width: 100%;
  height: 20vh;
}
.up,
.midle,
.down {
  text-align: left;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.img {
  width: 100%;
  height: 100%;
}
.number {
  margin: 0.7rem;
  color: #aad4da;
  font-size: 40px;
}
.posub {
  width: 90%;
  height: 45%;
  text-align: justify;
  margin-bottom: 2rem;
}
#map {
  height: 95%;
  width: 95%;
  border-radius: 15px;
  position: relative;
  z-index: 0;
}
.overlay {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  padding-top: 1rem;
  margin-top: 36rem;
  width: 18rem;
  height: 8rem;
  background-color: #091415;
  border-radius: 15px 15px 0 0;
}
.result {
  margin-left: 4rem;
  margin-top: 1rem;
  color: #000;
  text-align: left;
  position: absolute;
  z-index: 1;

  height: 10vh;
  border-radius: 0 0 15px 0;
}
.info {
  width: 100%;
  z-index: 1;
}
.title_pt1 {
  text-align: center;
  width: 100%;
  height: 25%;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1600px) {
  .subtitle {
    padding-top: 7%;
    line-height: 150%;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 24px;
  }
  .color_text {
    display: block;
    background: linear-gradient(120deg, #20416f, #aad4da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .content_right {
    width: 100%;
    height: 100%;

    border-radius: 15px;
    background-color: #091415;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  /*Input CEP*/
  .input {
    margin-bottom: 2rem;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 0.8vw;
    color: #fff;
    background-color: #030b0c;
    box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;
    transition: 0.4s;
    margin-right: 10px;
  }

  .overlay {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    padding-top: 1rem;
    margin-top: 36rem;
    width: 18rem;
    height: 8rem;
    background-color: #091415;
    border-radius: 15px 15px 0 0;
  }
  .result {
    margin-left: 4rem;
    margin-top: 1rem;
    color: #000;
    text-align: left;
    position: absolute;
    z-index: 1;

    height: 10vh;
    border-radius: 0 0 15px 0;
  }
  .info {
    width: 100%;
    z-index: 1;
  }
  .title_pt1 {
    text-align: center;
    width: 100%;
    height: 25%;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 1500px) {
  /*Input CEP*/
  .input {
    margin-bottom: 2rem;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1vw;
    color: #fff;
    background-color: #030b0c;
    box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;
    transition: 0.4s;
    margin-right: 10px;
  }

  .posub {
    width: 90%;
    height: 45%;
    text-align: justify;
    margin-bottom: 2rem;
  }

  .overlay {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    padding-top: 1rem;
    margin-top: 36rem;
    width: 16rem;
    height: 8rem;
    background-color: #091415;
    border-radius: 15px 15px 0 0;
  }
}

@media only screen and (max-width: 1400px) {
  .overlay {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    padding-top: 1rem;
    margin-top: 36rem;
    width: 14rem;
    height: 8rem;
    background-color: #091415;
    border-radius: 15px 15px 0 0;
  }
}

@media only screen and (max-width: 1280px) {
  /*Input CEP*/
  .input {
    margin-bottom: 2rem;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1.1vw;
    color: #fff;
    background-color: #030b0c;
    box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;
    transition: 0.4s;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 1280px) {
  .title {
    font-size: 48px;
    letter-spacing: -1px;
    font-weight: 700;
    margin: 0;
    display: block;
  }

  .content {
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: 175vh;
    padding-bottom: 5rem;
  }

  .content_right {
    width: 100%;
    height: 120vh;

    border-radius: 15px;
    background-color: #091415;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .content_left {
    width: 100%;
    height: 140vh;
  }
}

@media only screen and (max-width: 1100px) {
  .part1 {
    flex-direction: column;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    width: 90%;
    height: 35vh;
    background-color: #091415;
    border-radius: 15px;
  }
  .part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    width: 85%;
    height: 80vh;
    background-color: #091415;
    border-radius: 15px;
  }

  /*--Button--*/

  #button1,
  #button2 {
    margin-top: 3rem;
  }
  .part3 {
    width: 100%;
    height: 20vh;
  }

  /*--Button 2--*/

  #button2 {
    margin-left: 2rem;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: #e7f7f8;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 9px;
    background: #091415;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
  }

  #button2:hover {
    transform: translateY(-2px);
    box-shadow: 7px 5px 56px -14px #091415;
  }

  #button2:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #091415;
  }
  /*--Button3--*/
  #button3 {
    margin-bottom: 1rem;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: #e7f7f8;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 9px;
    background: #20416f;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
  }

  #button3:hover {
    transform: translateY(-2px);
    box-shadow: 7px 5px 56px -14px #20416f;
  }

  #button3:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #20416f;
  }
}

@media only screen and (max-width: 950px) {
  .part1 {
    flex-direction: column;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    width: 100%;
    height: 35vh;
    background-color: #091415;
    border-radius: 15px;
  }
  .part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    width: 95%;
    height: 80vh;
    background-color: #091415;
    border-radius: 15px;
  }
}

@media only screen and (max-width: 812px) {
  .projects {
    width: 120%;
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8rem;
  }
  .box1,
  .box2,
  .box3 {
    border-radius: 15px;
    width: 25vh;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #091415;
  }
  .box2 {
    background-color: #131417;
  }
  .box3 {
    background-color: #181717;
  }
  .part1 {
    flex-direction: column;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    width: 120%;
    height: 35vh;
    background-color: #091415;
    border-radius: 15px;
  }
  .part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0.5rem;
    width: 120%;
    height: 80vh;
    background-color: #091415;
    border-radius: 15px;
  }

  /*Input CEP*/
  .input {
    margin-bottom: 2rem;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1.8vw;
    color: #fff;
    background-color: #030b0c;
    box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;
    transition: 0.4s;
    margin-right: 10px;
  }

  .img {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 660px) {
  .txt {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 0.5rem;
    width: 100%;
    height: 20vh;
  }

  .posub {
    width: 90%;
    height: 45%;
    font-size: 13px;
    text-align: justify;
    margin-bottom: 2rem;
  }

  .copyright {
    font-size: 10px;
  }
}

@media only screen and (max-width: 550px) {
  .projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8rem;
  }

  .part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0.2rem;
    width: 120%;
    height: 80vh;
    background-color: #091415;
    border-radius: 15px;
  }

  .txt {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 0.5rem;
    width: 100%;
    height: 20vh;
  }
}

@media only screen and (max-width: 550px) {
  /*Input CEP*/
  .input {
    margin-bottom: 2rem;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 2.4vw;
    color: #fff;
    background-color: #030b0c;
    box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;
    transition: 0.4s;
    margin-right: 10px;
  }

  .buttons {
    width: 10%;
  }
}

@media only screen and (max-width: 523px) {
  .number {
    margin: 0.7rem;
    color: #aad4da;
    font-size: 28px;
  }

  .buttons {
    width: 120%;
    display: flex;
  }
}

@media only screen and (max-width: 467px) {
  .txt {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    text-align: left;

    width: 100%;
    height: 20vh;
  }

  .number {
    margin: 0.7rem;
    color: #aad4da;
    font-size: 23px;
  }
  .posub {
    width: 90%;
    height: 45%;
    font-size: 11px;
    text-align: justify;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 435px) {
  .box1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box2 {
    background-color: #131417;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box3 {
    background-color: #181717;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #button1 {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: #e7f7f8;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 9px;
    background: #20416f;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
  }

  #button1:hover {
    transform: translateY(-2px);
    box-shadow: 7px 5px 56px -14px #20416f;
  }

  #button1:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #20416f;
  }

  /*--Button 2--*/

  #button2 {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: #e7f7f8;
    border-radius: 9px;
    background: #091415;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
  }

  .buttons {
    width: 40vh;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*  Search Square RESPONSIVE  */
@media only screen and (max-height: 18000px) {
  .overlay {
    margin-top: 78rem;
  }
}
@media only screen and (max-height: 1780px) {
  .overlay {
    margin-top: 77rem;
  }
}
@media only screen and (max-height: 1760px) {
  .overlay {
    margin-top: 76rem;
  }
}
@media only screen and (max-height: 1740px) {
  .overlay {
    margin-top: 75rem;
  }
}
@media only screen and (max-height: 1720px) {
  .overlay {
    margin-top: 74rem;
  }
}
@media only screen and (max-height: 1700px) {
  .overlay {
    margin-top: 73rem;
  }
}
@media only screen and (max-height: 1680px) {
  .overlay {
    margin-top: 72rem;
  }
}
@media only screen and (max-height: 1660px) {
  .overlay {
    margin-top: 71rem;
  }
}
@media only screen and (max-height: 1640px) {
  .overlay {
    margin-top: 70rem;
  }
}
@media only screen and (max-height: 1620px) {
  .overlay {
    margin-top: 69rem;
  }
}
@media only screen and (max-height: 1600px) {
  .overlay {
    margin-top: 68rem;
  }
}
@media only screen and (max-height: 1580px) {
  .overlay {
    margin-top: 67rem;
  }
}
@media only screen and (max-height: 1560px) {
  .overlay {
    margin-top: 66rem;
  }
}
@media only screen and (max-height: 1540px) {
  .overlay {
    margin-top: 65rem;
  }
}
@media only screen and (max-height: 1520px) {
  .overlay {
    margin-top: 64rem;
  }
}
@media only screen and (max-height: 1500px) {
  .overlay {
    margin-top: 63rem;
  }
}
@media only screen and (max-height: 1480px) {
  .overlay {
    margin-top: 62rem;
  }
}
@media only screen and (max-height: 1460px) {
  .overlay {
    margin-top: 61rem;
  }
}
@media only screen and (max-height: 1440px) {
  .overlay {
    margin-top: 60rem;
  }
}
@media only screen and (max-height: 1420px) {
  .overlay {
    margin-top: 59rem;
  }
}
@media only screen and (max-height: 1400px) {
  .overlay {
    margin-top: 58rem;
  }
}
@media only screen and (max-height: 1388px) {
  .overlay {
    margin-top: 57rem;
  }
}
@media only screen and (max-height: 1368px) {
  .overlay {
    margin-top: 56rem;
  }
}
@media only screen and (max-height: 1360px) {
  .overlay {
    margin-top: 56rem;
  }
}
@media only screen and (max-height: 1340px) {
  .overlay {
    margin-top: 55rem;
  }
}
@media only screen and (max-height: 1320px) {
  .overlay {
    margin-top: 54rem;
  }
}
@media only screen and (max-height: 1302px) {
  .overlay {
    margin-top: 53rem;
  }
}
@media only screen and (max-height: 1280px) {
  .overlay {
    margin-top: 52rem;
  }
}
@media only screen and (max-height: 1258px) {
  .overlay {
    margin-top: 51rem;
  }
}
@media only screen and (max-height: 1240px) {
  .overlay {
    margin-top: 50rem;
  }
}
@media only screen and (max-height: 1220px) {
  .overlay {
    margin-top: 49rem;
  }
}
@media only screen and (max-height: 1196px) {
  .overlay {
    margin-top: 48rem;
  }
}
@media only screen and (max-height: 1176px) {
  .overlay {
    margin-top: 47rem;
  }
}
@media only screen and (max-height: 1156px) {
  .overlay {
    margin-top: 46rem;
  }
}
@media only screen and (max-height: 1132px) {
  .overlay {
    margin-top: 45rem;
  }
}
@media only screen and (max-height: 1111px) {
  .overlay {
    margin-top: 44rem;
  }
}
@media only screen and (max-height: 1090px) {
  .overlay {
    margin-top: 43rem;
  }
}
@media only screen and (max-height: 1069px) {
  .overlay {
    margin-top: 42rem;
  }
}
@media only screen and (max-height: 1049px) {
  .overlay {
    margin-top: 41rem;
  }
}
@media only screen and (max-height: 1027px) {
  .overlay {
    margin-top: 40rem;
  }
}
@media only screen and (max-height: 1007px) {
  .overlay {
    margin-top: 39rem;
  }
}
@media only screen and (max-height: 984px) {
  .overlay {
    margin-top: 38rem;
  }
}
@media only screen and (max-height: 965px) {
  .overlay {
    margin-top: 37rem;
  }
}
@media only screen and (max-height: 941px) {
  .overlay {
    margin-top: 36rem;
  }
}
@media only screen and (max-height: 906px) {
  .overlay {
    margin-top: 35rem;
  }
}
@media only screen and (max-height: 892px) {
  .overlay {
    margin-top: 34rem;
  }
}
@media only screen and (max-height: 863px) {
  .overlay {
    margin-top: 32rem;
  }
}
@media only screen and (max-height: 839px) {
  .overlay {
    margin-top: 32rem;
  }
}
@media only screen and (max-height: 830px) {
  .overlay {
    margin-top: 31rem;
  }
}
@media only screen and (max-height: 805px) {
  .overlay {
    margin-top: 30rem;
  }
}
@media only screen and (max-height: 785px) {
  .overlay {
    margin-top: 29rem;
  }
}
@media only screen and (max-height: 770px) {
  .overlay {
    margin-top: 28rem;
  }
}
@media only screen and (max-height: 754px) {
  .overlay {
    margin-top: 27rem;
  }
}
@media only screen and (max-height: 729px) {
  .overlay {
    margin-top: 26rem;
  }
}
@media only screen and (max-height: 706px) {
  .overlay {
    margin-top: 25rem;
  }
}
@media only screen and (max-height: 684px) {
  .overlay {
    margin-top: 24rem;
  }
}
@media only screen and (max-height: 664px) {
  .overlay {
    margin-top: 23rem;
  }
}
@media only screen and (max-height: 646px) {
  .overlay {
    margin-top: 22rem;
  }
}
@media only screen and (max-height: 646px) {
  .overlay {
    margin-top: 22rem;
  }
}
@media only screen and (max-height: 627px) {
  .overlay {
    margin-top: 21rem;
  }
}
@media only screen and (max-height: 605px) {
  .overlay {
    margin-top: 20rem;
  }
}
