@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body{
padding: 0;
margin: 0 15%;
background-color: #030b0c;
scroll-behavior: smooth;
color: #e7f7f8;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-family: 'Inter', sans-serif;
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
}


.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-family: 'Inter', sans-serif;
}

.header_logo{
    width: 50px;
}
.title{
padding-top: 10%;
font-size: 48px;
letter-spacing: -1px;
font-weight: 700;
margin: 0;
display: block;
margin-block-start: 0.67em;
margin-block-end: 0.67em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
.subtitle{
    padding-top: 7%;
    line-height: 150%;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 24px;;
}
.content{

width: 70vw;
height: 100vh;
display: flex;
flex-direction: row;
align-items: center;
width: 70vw;
height: 80vh;
padding-bottom: 3em;
}

.content_right{
width: 100%;
height: 100%;
border-radius: 15px;
background-color: #091415;
}
.content_left{
    width: 100%;
    height: 100%;
}
.part1{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: space-around;
    align-items: center;
}
.box1,.box2,.box3{
    border-radius: 15px;
    width: 30%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #091415;
}
.part2{

width: 100%;
height: 70vh;
    
}





::-webkit-scrollbar {
    margin-left: 1em;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(131, 131, 131, 0.1);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(129, 129, 129, 0.5);
}